.data {
	padding: 50px;
	max-width: 50rem;
	margin: 2rem auto;
	text-align: center;
	background-color: var(--color-gray-800);
	color: var(--color-gray-100);
}

.data img {
	width: 20rem;
	border-radius: 4px;
}

.ownderInfo_container{
	padding: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 15px;
	justify-content: space-evenly;
}

.actions {
	display: flex;
	gap: 1rem;
	justify-content: center;
	align-items: center;
	padding: 0;
}

.actions a,
.actions button {
	padding: 0.25rem 1rem;
	text-decoration: none;
	font: inherit;
	cursor: pointer;
	background-color: var(--color-gray-500);
	color: var(--color-gray-900);
	border-radius: 4px;
}

.actions button {
	background-color: transparent;
	border: none;
	background-color: var(--color-gray-500);
	color: var(--color-gray-900);
}

.actions a:hover {
	background-color: var(--color-primary-600);
}

.actions button:hover {
	background-color: var(--color-delete);
}
