.Drawer__container{
  padding: 16px;
  display: flex; 
  flex-direction: column;
  font-weight: bold;
}

.Drawer__nav{
  display: flex; 
  flex-direction: column;
  border-top: 2px solid #DB504A;
}

.mobileNav {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.mobileNav > li{
  display: flex;
  align-items: center;
  height: 64px;
  color: white;
  border-bottom: 2px solid #4F6D7A;
  /* padding: 5px 0px; */
  list-style-type: none;
}
